<form name="editprojectForm">
	<fieldset>
		<legend>Edit {{master.name}}</legend>
		<label>Name<label>
		<input name="projectname" type="text" placeholder="Enter project name..." ng-model='project.name' required/>
		<span ng-show="editprojectForm.projectname.$error.required" class="help-inline">Required</span>
		<label>Description</label>
		<input class="input-xxlarge" type="text" ng-model='project.description'/>
		<label class="checkbox">
			<input type="checkbox" ng-model='project.seen'/>Have you seen this project yet?
		</label>
		<button type="submit" class="btn btn-primary" ng-click='update(project)' ng-disabled="editprojectForm.$invalid">Update project</button>
	</fieldset>
</form>
<a href="#/projects/{{project.id}}">Back</a>
